
// src/css/quasar.variables.sass

$primary   : #b9b9d5;
$secondary : #fce3de;
$accent    : #ffc8b0;

$dark      : #84777c;
$dark-page : #5e5e5e;

$positive  : #bee8c8;
$negative  : #f07382;
$info      : #b4dfed;
$warning   : #fae39b;